{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">
      PlaceMark: A list of all your favourite places
    </p>
    <p class="box">
      Insert <em>about</em> text here.
    </p>
  </div>
</section>