{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h1 class="title">Welcome to PlaceMark</h2>
    <h2 class="subtitle">Please log in or sign up</h2>
  </div>
  <div class="column">
    <img src="/images/pexels-ryan-8874803.jpg">
  </div>
</div>