<form action="/dashboard/updatecategory/{{category._id}}" method="POST">
  <div class="field">
    <label class="label">Category title</label>
    <input class="input" type="text" value="{{category.title}}" name="title">
  </div>
  <button class="button is-link">Update Category</button>
</form>